@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Josefin+Sans:wght@300&family=Prompt&family=Shalimar&display=swap');/* Navbar */
.navbar{
  padding: 0.5em;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightblue;
}

.logoImageWrapper{
  flex-grow: 2;
margin: 0 2em;
}

.navbarMenu{
  height: 100%;
  color: white;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin: 0 2em;
}

.logoImage{
  height: 64px;
}

.linkmenuItem{
  color: white;
  text-decoration: none;
  font-family: 'Josefin+Sans';
}

.linkmenuItem:hover{
  color: #e9e9e9;
  transition: 0.3s ease-out;
}

.comingSoon{
  display: flex;
  justify-content: center;
}

.taskDropDown button{
  font-family: 'Josefin+Sans';
  background-color: transparent !important;
  border: transparent !important;
}

/* navbar end */

/* Footer  start*/
.footer-container {
  background-color: lightblue;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.footer-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-link-upperRight {
  display: flex;

}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer-link-items h2 {
  margin-bottom: 16px;

}

.footer-link-items span {
  font-size: 24px;
  font-family: 'Josefin+Sans';
  color: white;
  margin-bottom: 1rem;

}
.footer-link-items a{
  color: #fff;
  font-family: 'Josefin+Sans';
  text-decoration: none;
  margin-bottom: 8px;
}

.footer-link-items a:hover{
  color: #e9e9e9;
  transition: 0.3s ease-out;
}



@media screen and (max-width:820px) {
  .footer-links {
      padding-top: 2rem;

  }

  .footer-input {
      width: 100%;

  }
  .btn {
      width: 100%;
  }
  .footer-link-wrapper {
      flex-direction: column;
  }
}

/* footer end */


.homepageBanner{
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* display: grid; */
  justify-content: flex-end;
}

.homepageBannerTitle h1{
  font-size: 3re0m;
  color: white;
  padding: 2rem 2rem 0rem 1rem;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.homepageBannerTitle a{
  font-size: 1.3rem;
  color: white;
  margin: 0 2rem;
  display: flex;
  justify-content: flex-end;
}

.homepageBannerTitle a:hover{
  font-size: 1.35rem;
  color: #e9e9e9;
  transition: 0.3s ease-out;

}

.mainpageImage{
  width: 100%;
  height: 80vh;
}

/* auth */

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 75vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.text-center{
  text-align: center;
}

.form-group{
  display: flex;
  flex-direction: column;
}


label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.serviceIntro{
  margin: 1rem;
  font-weight: bold;
  
  display: flex;
  font-family: 'Josefin+Sans';
  justify-content: center;
}

.serviceWrapper img{
  width: 240px;
  height: 340px;
}

.serviceWrapper{
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

.serviceCat{
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.serviceCat:hover{
  transform: scale(1.05);
  transition: 0.3s ease-out;
}



.serviceCat .description{
  color: gray;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.trustWrapper{
  display: flex;
  margin: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uclaLogoImg{
  width: 120px;
  height: 120px;
}

.signupLink{
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
  font-family: 'Prompt';
  font-weight: bold;
  text-decoration: underline;
  color: skyblue;
}