@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Josefin+Sans:wght@300&display=swap');

/* Navbar */
.navbar{
  padding: 0.5em;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightblue;
}

.logoImageWrapper{
  flex-grow: 2;
margin: 0 2em;
}

.navbarMenu{
  height: 100%;
  color: white;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin: 0 2em;
}

.logoImage{
  height: 64px;
}

.linkmenuItem{
  color: white;
  text-decoration: none;
  font-family: 'Josefin+Sans';
}

.linkmenuItem:hover{
  color: #e9e9e9;
  transition: 0.3s ease-out;
}

.comingSoon{
  display: flex;
  justify-content: center;
}

/* navbar end */

/* Footer  start*/
.footer-container {
  background-color: lightblue;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.footer-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-link-upperRight {
  display: flex;

}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer-link-items h2 {
  margin-bottom: 16px;

}

.footer-link-items span {
  font-size: 24px;
  font-family: 'Josefin+Sans';
  color: white;
  margin-bottom: 1rem;

}
.footer-link-items a{
  color: #fff;
  font-family: 'Josefin+Sans';
  text-decoration: none;
  margin-bottom: 8px;
}

.footer-link-items a:hover{
  color: #e9e9e9;
  transition: 0.3s ease-out;
}



@media screen and (max-width:820px) {
  .footer-links {
      padding-top: 2rem;

  }

  .footer-input {
      width: 100%;

  }
  .btn {
      width: 100%;
  }
  .footer-link-wrapper {
      flex-direction: column;
  }
}

/* footer end */


.homepageBanner{
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* display: grid; */
  justify-content: flex-end;
}

.homepageBannerTitle h1{
  font-size: 3re0m;
  color: white;
  padding: 2rem 2rem 0rem 1rem;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.homepageBannerTitle a{
  font-size: 1.3rem;
  color: white;
  margin: 0 2rem;
  display: flex;
  justify-content: flex-end;
}

.homepageBannerTitle a:hover{
  font-size: 1.35rem;
  color: #e9e9e9;
  transition: 0.3s ease-out;

}